html,body {
    height: 100%;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.message {
    display: block;
    padding: 16px;
    border-radius: 6px;
    margin: 8px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 70%;
}